*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgb(228, 225, 225);
}

.navbar {
    position: fixed;
    top: 0;
    transform: none;
    display: flex;
    gap: 5rem;
    justify-content: space-around; 
    align-items: center;
    width: 100%; 
    padding: 24px 0%;
    z-index: 9999;
    background-color: transparent;
    transition: background-color 0.4s ease; /* Transición suave */
}

.navbar.scrolled {
    background-color: rgba(10, 42, 81, 0.95); /* Color al hacer scroll */

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index:9999;
}

.logo h1 {
    color: white;
    font-size: 24px; 
    margin: 0;      
    line-height: 1; 
}

.logo {
    display: flex;
    align-items: center; 
}

.derecha {
    display: flex; 
    align-items: center; 
    gap: 2rem; 
}

.menu {
    display: flex;
    gap: 2rem; 

}

.navbar a {
    font-size: 16px;
    color: white;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar a:hover {
    color: orange;
}

.btn-cotizar {
    margin-left: 1rem; 
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px; 
}

.btn-cotizar a {
    color: black;
    display: block;
    text-align: center;
    font-weight: 500;
}
.btn-cotizar:hover {
    background-color: rgb(17, 78, 148);
}
.btn-cotizar a:hover {
    color: white;
    cursor: pointer;
}

/* HERO */

.hero {
position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;  
   padding-top: 80px;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; 
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg, 
        rgba(10, 42, 81, 0.9) 0%, 
        rgba(10, 42, 81, 0.4) 50%, 
        rgba(255, 255, 255, 0) 100%
    );
    pointer-events: none;
    z-index: 0;
}

.hero-container {
    width: 100%;
    max-width: 1100px;
    margin-left: 15%;  
    position: relative;
    z-index: 2;
}

.contenido-hero {
    position: relative;
    z-index: 2;
    color: white;
    width: 100%;
    max-width: 600px;       
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.contenido-hero h1 {
    font-size: 7.3rem;
    font-weight: lighter;
    line-height: 0.8;
}
.Titulo-e {
    font-family: "Imperial Script", cursive;
    font-size: 7rem;
    color: rgb(252, 144, 95);
    display: inline-block;
}
.contenido-hero p {
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.cta-hero button {
    margin-top: 60px;
    padding: 20px 40px;     
    border-radius: 30px;      
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;  
    transition: 0.3s ease;
}

.cta-proyecto {
    background-color: rgb(193, 112, 14);
    color: white;
}

.cta-proyecto:hover {
    background-color: rgb(152, 73, 4);
}

.cta-portafolio {
    background-color: transparent;
    color: white;
    border: solid 1px white !important;
}

.cta-portafolio:hover {
    background-color: rgba(255, 255, 255, 0.236);
}



.estadistica-hero {
    display: flex;
    border-top: solid 1px white;
    margin: 10px;
    padding-top: 70px;
}

.estadistica-hero .info-datos {
    font-size: 17px;
    width: 300px;
}
.estadistica-hero p {
    font-size: 40px;
}